{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Banking</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>

        .bs-example{
            margin: 50px;
        }
        
        table.center {
        margin-left:auto; 
        margin-right:auto;
        text-align:center;
        }
      body.container {
        width:100%;
        margin-left: 180px;
        margin-right: 50px;
      }
    </style>
</head>
<body>
    <body style="background-color:powderblue;" class="container">
        <table class="center" cellpadding="10" bgcolor="lightblue" width='100%'>
        <tr>
            <td colspan="8">
                <article><h1>Welcome to Online Banking</h1></article>
            </td>
        </tr>



        <tr bgcolor="blueviolet">
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style='color:white'>Services</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/personal/" class="dropdown-item" target="blank">Personal Internet Banking</a>
                        <a href="https://corp.onlinesbi.com/corporate/" class="dropdown-item" target="blank">Corporate Internet Banking</a>
                        <a href="https://mab.sbi.co.in/mu/mabhome.html" class="dropdown-item" target="blank">Merchant Acquiring Business - POS</a>
                        <a href="https://retail.onlinesbi.com/personal/tax_retail.html" class="dropdown-item" target="blank">Online Tax / Payment / Receipt / Challan printing</a>								
                    </li>
                </span>
            </td>
        
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style='color:white'>SB Anywhere</a>
                    <li class="dropdown-menu">
                        <a href="https://mobility.onlinesbi.com/sbf_saral.html" class="dropdown-item" target="blank">SBA saral</a>
                        <a href="https://mobility.onlinesbi.com/sbf_retail.html" class="dropdown-item" target="blank">SBA Personal</a>
                        <a href="https://mobility.onlinesbi.com/sbf_corporate.html" class="dropdown-item" target="blank">SBA Corporate</a>								
                    </li>
                </span>
            </td>
        
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style='color:white'>FAQ</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/personal/faq.html" class="dropdown-item" target="blank">Personal Banking FAQ</a>
                        <a href="https://corp.onlinesbi.com/corporate/sbi/corp_faq.html" class="dropdown-item" target="blank">Corporate Banking FAQ</a>
                        <a href="https://m.onlinesbi.com/sbijava/mobile/sbf_faq.html" class="dropdown-item" target="blank">State Bank Any Where FAQ</a>
                        <a href="https://m.onlinesbi.com/sbijava/mobile/sbsecure_otp_app_faq.html" class="dropdown-item" target="blank">State Bank Secure OTP APP</a>								
                    </li>
                </span>
            </td>
        
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style='color:white'>SBMOPS</a>
                    <li class="dropdown-menu">
                        <a href="https://merchant.onlinesbi.com/mopsprelogin/mopsremittanceform.htm" class="dropdown-item" target="blank">MOPS Branch Challan(CP)/Reprint Remittance Form</a>
                        <a href="https://merchant.onlinesbi.com/mopsprelogin/mopsBilldeskCancelTransaction.htm" class="dropdown-item" target="blank">MOPS For Cancel RTGS/NEFT/BRANCH Transactions (CP)</a>
                        <a href="https://merchant.onlinesbi.com/mopsprelogin/mopsRtgsNeftChallanDownload.htm" class="dropdown-item" target="blank">MOPS RTGS-NEFT PAP Challan Reprint Form (CP)</a>
                        <a href="https://retail.onlinesbi.com/personal/tax_retail.html" class="dropdown-item" target="blank">Online Tax / Payment / Receipt / Challan printing</a>								
                    </li>
                </span>
            </td>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" target="blank" style='color:white'>Electoral Bond</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/#" class="dropdown-item" target="blank" style='color:white'>Information/Downloads</a>
                    </li>
                </span>
            </td>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style='color:white'>NPS</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/npscorp/npsCorporateRegistration.htm" class="dropdown-item" target="blank" style='color:white'>Corporate Employee Registration</a>                     					
                    </li>
                </span>
            </td>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style='color:white'>Bill Pay</a>
                    <li class="dropdown-menu">
                        <a href="https://bbps.onlinesbi.com/AgentService/invokeBillFetchPage" class="dropdown-item" target="blank">BBPS Bill Pay</a>
                        <a href="https://retail.onlinesbi.com/personal/instapay_oxipay.html" class="dropdown-item" target="blank">Mobile/Bill Pay</a>
                    </li>
                </span>
            </td>
            <td></td>
        </tr>


        {% block body_block %}
        <tr><td colspan="8" style='color:red'>SBI Never ask for Confidential information such as OTP nd PIN from Customers.<br> Any Such Calls are done by Fraudsters don't share ur Personal Information</td></tr>
        <tr>
            <td colspan="4">
                <div class="jumbotron">
                        <h1>Personal Banking</h1>
                    
                        <p><a href="{% url 'login' %}" target="_blank" class="btn btn-primary btn-lg">Log In</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'register' %}" target="_blank" class="btn btn-primary btn-lg">Sign Up</a></p>
                        <table>
                                <tr>
                                    <td><a href="https://cms.onlinesbi.com/CMS/" target="blank">Customer Care||</a></td>
                                    <td align='right'><a href='https://www.onlinesbi.com/personal/rinb_videos.html'>How Do I</a></td>
                                </tr>
                            </table>


                 </div>
            </td>
            <td colspan="4">
                 <div>
                        <p><img src="https://media.giphy.com/media/xUPJPvdKezKbgoTkWs/giphy.gif"></p>
                 </div>
            </td>
        </tr>
        <tr>
           <td colspan="8" style="background-color:sandybrown"><marquee> Please notify any unauthorised electronic transaction on 1-800-425-3800/1-800-11-2211 immediately. Longer the time taken to notify, higher would be the risk of loss to you.  </marquee></td>
        </tr>
       <tr>
           <td colspan="8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'images/sbi.jpg' %}" class="d-block w-100" alt="No Image Found" width='100%' height="300px">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/sbi1.jpg' %}" class="d-block w-100" alt="No Image Found" width='100%' height="300px">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'images/sbi2.jpg' %}" class="d-block w-100" alt="No Image Found" width='100%' height="300px">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
           </td>
       </tr>

       <tr>
           <td colspan="8" style="background-color:blue">&copyState Bank of India (APM Id:Serv_Tran_564)</td>
       </tr>
       {% endblock body_block %}
</body>
</html>