{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>

        .bs-example{
            margin: 50px;
        }
        
        table.center {
        margin-left:auto; 
        margin-right:auto;
        text-align:center;
        }
      body.container {
        width:100%;
        margin-left: 180px;
        margin-right: 50px;
      }
    </style>
</head>

    <body style="background-color:powderblue;" class="container">
        <table class="center" cellpadding="10" bgcolor="lightblue" width='100%'>
        <tr>
            <td colspan="8">
                <article><h1>Welcome to Online Banking</h1></article>
            </td>
        </tr>



        <tr>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/personal/" class="dropdown-item" target="blank">Personal Internet Banking</a>
                        <a href="https://corp.onlinesbi.com/corporate/" class="dropdown-item" target="blank">Corporate Internet Banking</a>
                        <a href="https://mab.sbi.co.in/mu/mabhome.html" class="dropdown-item" target="blank">Merchant Acquiring Business - POS</a>
                        <a href="https://retail.onlinesbi.com/personal/tax_retail.html" class="dropdown-item" target="blank">Online Tax / Payment / Receipt / Challan printing</a>								
                    </li>
                </span>
            </td>
        
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SB Anywhere</a>
                    <li class="dropdown-menu">
                        <a href="https://mobility.onlinesbi.com/sbf_saral.html" class="dropdown-item" target="blank">SBA saral</a>
                        <a href="https://mobility.onlinesbi.com/sbf_retail.html" class="dropdown-item" target="blank">SBA Personal</a>
                        <a href="https://mobility.onlinesbi.com/sbf_corporate.html" class="dropdown-item" target="blank">SBA Corporate</a>								
                    </li>
                </span>
            </td>
        
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQ</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/personal/faq.html" class="dropdown-item" target="blank">Personal Banking FAQ</a>
                        <a href="https://corp.onlinesbi.com/corporate/sbi/corp_faq.html" class="dropdown-item" target="blank">Corporate Banking FAQ</a>
                        <a href="https://m.onlinesbi.com/sbijava/mobile/sbf_faq.html" class="dropdown-item" target="blank">State Bank Any Where FAQ</a>
                        <a href="https://m.onlinesbi.com/sbijava/mobile/sbsecure_otp_app_faq.html" class="dropdown-item" target="blank">State Bank Secure OTP APP</a>								
                    </li>
                </span>
            </td>
        
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SBMOPS</a>
                    <li class="dropdown-menu">
                        <a href="https://merchant.onlinesbi.com/mopsprelogin/mopsremittanceform.htm" class="dropdown-item" target="blank">MOPS Branch Challan(CP)/Reprint Remittance Form</a>
                        <a href="https://merchant.onlinesbi.com/mopsprelogin/mopsBilldeskCancelTransaction.htm" class="dropdown-item" target="blank">MOPS For Cancel RTGS/NEFT/BRANCH Transactions (CP)</a>
                        <a href="https://merchant.onlinesbi.com/mopsprelogin/mopsRtgsNeftChallanDownload.htm" class="dropdown-item" target="blank">MOPS RTGS-NEFT PAP Challan Reprint Form (CP)</a>
                        <a href="https://retail.onlinesbi.com/personal/tax_retail.html" class="dropdown-item" target="blank">Online Tax / Payment / Receipt / Challan printing</a>								
                    </li>
                </span>
            </td>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" target="blank">Electoral Bond</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/#" class="dropdown-item" target="blank">Information/Downloads</a>
                    </li>
                </span>
            </td>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">NPS</a>
                    <li class="dropdown-menu">
                        <a href="https://retail.onlinesbi.com/npscorp/npsCorporateRegistration.htm" class="dropdown-item" target="blank">Corporate Employee Registration</a>                     					
                    </li>
                </span>
            </td>
            <td class="bs-example">
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bill Pay</a>
                    <li class="dropdown-menu">
                        <a href="https://bbps.onlinesbi.com/AgentService/invokeBillFetchPage" class="dropdown-item" target="blank">BBPS Bill Pay</a>
                        <a href="https://retail.onlinesbi.com/personal/instapay_oxipay.html" class="dropdown-item" target="blank">Mobile/Bill Pay</a>
                    </li>
                </span>
            </td>
            <td></td>
        </tr>

        </table>

{% block body_block %}
<center>
<h1>Registration Form</h1>
<br>
{% if register %}
<h1>Thanks for Registering</h1>
{% else %}
<form method='POST' enctype="multipart/form-data" align='center'>
{% csrf_token %}
{{form.as_p}}
{{form_user.as_p}}
<input type='submit' value='Submit'>

</form>
{% endif %}
</center>
{% endblock body_block %}

</body>
</html>


